<!-- Anime Product Sections -->
<section class="product-section">
    <div class="section-header">
        <h2>NHÂN VẬT</h2>
        <div class="view-all">
            <a href="#">Xem tất cả</a>
            <span>⬜ ⬛</span>
        </div>
    </div>
    <div class="product-grid">
        <div class="product-item">
            <img src="/images/shinichi.png" alt="ei">
            <h3>Móc khóa hình nhân vật shinichi</h3>
            <p class="price">$</p>
            <a href="https://www.facebook.com/profile.php?id=61576621782744" target="_blank" class="btn">MUA NGAY</a>
        </div>
        <div class="product-item">
            <img src="/images/ei.png" alt="ei">
            <h3>Nhân vật ei</h3>
            <p class="price">$</p>
            <a href="https://www.facebook.com/profile.php?id=61576621782744" target="_blank" class="btn">MUA NGAY</a>
        </div>
        <div class="product-item">
            <img src="/images/natra.png" alt="natra">
            <h3>Nhân vật natra</h3>
            <p class="price">$</p>
            <a href="https://www.facebook.com/profile.php?id=61576621782744" target="_blank" class="btn">MUA NGAY</a>
        </div>
    </div>
</section>

<section class="product-section">
    <div class="section-header">
        <h2>SET ĐỒ</h2>
        <div class="view-all">
            <a href="#">Xem tất cả</a>
            <span>⬜ ⬛</span>
        </div>
    </div>
    <div class="product-grid">
        <div class="product-item">
            <img src="/images/shin of.png" alt="clother of shin">
            <h3>Set đồ shinichi 1</h3>
            <p class="price">$</p>
            <a href="https://www.facebook.com/profile.php?id=61576621782744" target="_blank" class="btn">MUA NGAY</a>
        </div>
        <div class="product-item">
            <img src="/images/ram.png" alt="ran">
            <h3>Set đồ ran 1</h3>
            <p class="price">$</p>
            <a href="https://www.facebook.com/profile.php?id=61576621782744" target="_blank" class="btn">MUA NGAY</a>
        </div>
    </div>
</section>

<section class="product-section">
    <div class="section-header">
        <h2>PHÔNG NỀN</h2>
        <div class="view-all">
            <a href="#">Xem tất cả</a>
            <span>⬜ ⬛</span>
        </div>
    </div>
    <div class="product-grid">
        <div class="product-item">
            <img src="/images/BG.jpg" alt="bg">
            <h3>Phông nền sao</h3>
            <p class="price">$</p>
            <a href="https://www.facebook.com/profile.php?id=61576621782744" target="_blank" class="btn">MUA NGAY</a>
        </div>
        <div class="product-item">
            <img src="/images/BGbien.jpg" alt="BG bien">
            <h3>Phông nền biển</h3>
            <p class="price">$</p>
            <a href="https://www.facebook.com/profile.php?id=61576621782744" target="_blank" class="btn">MUA NGAY</a>
        </div>
        <div class="product-item">
            <img src="/images/BGnatra.jpg" alt="B natra">
            <h3>Phông nền natra</h3>
            <p class="price">$</p>
            <a href="https://www.facebook.com/profile.php?id=61576621782744" target="_blank" class="btn">MUA NGAY</a>
        </div>
        <div class="product-item">
            <img src="/images/BGvangoc.jpg" alt="BGvangoc">
            <h3>Phông nền 2</h3>
            <p class="price">$</p>
            <a href="https://www.facebook.com/profile.php?id=61576621782744" target="_blank" class="btn">MUA NGAY</a>
        </div>
    </div>
</section>



