<nav class="main-nav">
    <div class="container">
        <ul class="nav-list">
            <li><a asp-page="/Index" class="nav-btn">TRANG CHỦ</a></li>
            <li><a asp-page="/newItem" class="nav-btn">HÀNG MỚI VỀ</a></li>
            <li class="dropdown">
                <a href="#" class="nav-btn">DANH MỤC SẢN PHẨM ▾</a>
                <ul class="dropdown-menu">
                    <li><a asp-page="/newItem" class="nav-btn">HÀNG MỚI VỀ</a></li>
                    <li><a href="#" class="nav-btn">SẢN PHẨM CÓ SẴN</a></li>
                    <li><a href="#" class="nav-btn">SẢN PHẨM PRE-ORDER</a></li>
                    <li><a asp-page="/Character" class="nav-btn">NHÂN VẬT</a></li>
                    <li><a asp-page="/Background" class="nav-btn">PHÔNG NỀN</a></li>
                    <li><a asp-page="/SetClother" class="nav-btn">SET ĐỒ</a></li>
                    <li><a href="#" class="nav-btn">NARUTO</a></li>
                </ul>
            </li>
            <li><a asp-page="/guildBuy" class="nav-btn">HƯỚNG DẪN MUA HÀNG</a></li>
            <li><a asp-page="/introduce" class="nav-btn">GIỚI THIỆU</a></li>
            <li><a asp-page="/contact" class="nav-btn">LIÊN HỆ</a></li>
        </ul>
    </div>
</nav>
