<!-- MainNav.cshtml -->
<nav class="main-nav">
    <div class="container">
        <ul class="nav-list">
            <li><a asp-page="/Index">TRANG CHỦ</a></li>
            <li><a asp-page="/newItem">NEW ARRIVALS</a></li>
            <li class="dropdown">
                <a href="#">DANH MỤC SẢN PHẨM ▾</a>
                <ul class="dropdown-menu">
                    <li><a asp-page="/newItem">HÀNG MỚI VỀ</a></li>
                    <li><a href="#">SẢN PHẨM CÓ SẴN</a></li>
                    <li><a href="#">SẢN PHẨM PRE-ORDER</a></li>
                    <li><a asp-page="/Character">NHÂN VẬT</a></li>
                    <li><a asp-page="/Background">PHÔNG NỀN</a></li>
                    <li><a asp-page="/SetClother">SET ĐỒ</a></li>
                    <li><a href="#">NARUTO</a></li>
                </ul>
            </li>
            <li><a asp-page="/guildBuy">HƯỚNG DẪN MUA HÀNG</a></li>
            <li><a asp-page="/introduce">GIỚI THIỆU</a></li>
            <li><a asp-page="/contact">LIÊN HỆ</a></li>
        </ul>
    </div>
</nav>
