@page
@model exeFinal.Pages.CharacterModel

@{
    ViewData["Title"] = "Nhân vật";
    Layout = "_Layout";
}

@* Header + Navigation *@
@* @await Html.PartialAsync("_TopBar") *@
@await Html.PartialAsync("_Header")
@await Html.PartialAsync("_MainNav")

<div class="container">
    <div class="content">
        @await Html.PartialAsync("_Sidebar")

        <main class="main">
            <h3>NHÂN VẬT</h3>

            @* Nếu bạn có danh sách sản phẩm, đặt thêm ở đây *@
            <div class="product-grid">
                <div class="product-item">
                    <img src="/images/shinichi.png" alt="ei">
                    <h3>Móc khóa hình nhân vật shinichi</h3>
                    <p class="price">39.000</p>
                    <a href="https://www.facebook.com/profile.php?id=61576621782744" target="_blank" class="btn">MUA NGAY</a>
                </div>
                <div class="product-item">
                    <img src="/images/ei.png" alt="ei">
                    <h3>Nhân vật ei</h3>
                    <p class="price">49.000</p>
                    <a href="https://www.facebook.com/profile.php?id=61576621782744" target="_blank" class="btn">MUA NGAY</a>
                </div>
                <div class="product-item">
                    <img src="/images/natra.png" alt="natra">
                    <h3>Nhân vật natra</h3>
                    <p class="price">49.000</p>
                    <a href="https://www.facebook.com/profile.php?id=61576621782744" target="_blank" class="btn">MUA NGAY</a>
                </div>
            </div>
        </main>
    </div>
</div>

@await Html.PartialAsync("_PreFooter")
@await Html.PartialAsync("_MainFooter")